<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LMS System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LMS System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Logga ut", "Logout", "User")
                        </li>
                        try
                        {
                            if (((int)System.Web.HttpContext.Current.Session["UserLMS"]) == 1)
                            {
                                <li>@Html.ActionLink("Lärare", "Index", "Teachers")</li>
                            }
                        }
                        catch (Exception e)
                        {
                            ViewBag.Message = "Logga in först";
                        }

                        <li>@Html.ActionLink("Studenter", "Index", "Students")</li>
                        <li>@Html.ActionLink("Klass", "Index", "SchoolClasses")</li>
                        <li>@Html.ActionLink("Schema", "Index", "Timetables")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filer</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Gemensam", "Index", "Common")</li>
                                @try
                                {
                                    if (((int)System.Web.HttpContext.Current.Session["UserLMS"]) == 1)
                                    {
                                        int TeId = (int)System.Web.HttpContext.Current.Session["SchoolClass"];
                                        <li>@Html.ActionLink("Klass-Gemensam", "ListSharedClases", "TeacherFiles", new { id = (int)HttpContext.Current.Session["SchoolClass"] }, null)</li>
                                        <li>@Html.ActionLink("Inlämningsfiler", "ListClases", "TeacherFiles", new { id = (int)HttpContext.Current.Session["SchoolClass"] }, null)</li>

                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Klass-Gemensam", "Index", "ClassFiles", new { id = (string)HttpContext.Current.Session["SchoolClass"] }, null)</li>
                                        <li>@Html.ActionLink("Inlämningsfiler", "Index", "Upload", new { id = (string)HttpContext.Current.Session["SchoolClass"] }, null)</li>
                                    }

                                }
                                catch (Exception e)
                                {
                                    ViewBag.Message = "Logga in först";
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Logga in", "Login", "User")
                        </li>
                    }

                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Om", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @*                @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LMS System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
