@model LMSProj2HRL.Models.SchoolClass

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>

<h3>Vill du verkligen ta bort detta?</h3>
<div>
    <h4>Skolklass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lärare
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.LoginId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Timetable.Lesson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timetable.Lesson1)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
