@model LMSProj2HRL.Models.Teacher

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Lärare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PassWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWD)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.TeId }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
