@model LMSProj2HRL.Models.Timetable

@{
    ViewBag.Title = "Delete";
}

<h2>Ta Bort</h2>

<h3>Vill du verkligen ta bort detta?</h3>
<div>
    <h4>Schema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolClass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolClass.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lesson4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson4)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta Bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
